<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.smartmanager" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- for GCM reciver -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FactoryActivity"
            android:label="@string/title_activity_factory" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smart.smartmanager.FactoryActivity" />
        </activity>
        <activity
            android:name=".usermachine"
            android:parentActivityName=".FactoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smart.smartmanager.FactoryActivity" />
        </activity>
        <activity
            android:name=".UserOnMachineActivity"
            android:label="@string/title_activity_user_on_machine"
            android:parentActivityName=".FactoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smart.smartmanager.FactoryActivity" />
        </activity>


    <receiver
        android:name="com.google.android.gms.gcm.GcmReceiver"
        android:exported="true"
        android:permission="com.google.android.c2dm.permission.SEND" >
    <intent-filter>
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <category android:name="com.example.gcm" />
    </intent-filter>
    </receiver>
    <!-- [END gcm_receiver] -->
        <service
            android:name="com.smart.smartmanager.SmartGCMListener"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


    <!-- [START gcm_listener] -->
    <service
    android:name="com.smart.smartmanager.RegistrationIntentService"
    android:exported="false" android:process=":remote">
    <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
    </intent-filter>
    </service>

    <!-- [END gcm_listener] -->

    <!-- [START instanceId_listener] -->
    <service
    android:name="com.smart.smartmanager.SmartInstanceIDListenerService"
    android:exported="false" >
    <intent-filter>
    <action android:name="com.google.android.gms.iid.InstanceID" />
    </intent-filter>
    </service>
    <!-- [END instanceId_listener] -->
    </application>

</manifest>